@font-face {
    font-family: 'ChunkFive';
    src: url('assets/fonts/chunkfive-webfont.woff2') format('woff2'),
         url('assets/fonts/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-light-webfont.woff2') format('woff2'),
         url('assets/fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    height: 100%;
}

body, html{
    color: #4f4f4f;
    margin: 0;
    font-family: "Gotham", "Open Sans", sans-serif;
}

body {
    min-height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

textarea, input, button {
    outline: none;
}

main {
    padding-top: 100px;
}

footer {
    position: relative;
    color: #9e9993;

    a {
        color: #9a958f;
    }

    p {
        font-size: 12px;
        margin-bottom: 0px;

        &.normal-casing {
            text-transform: capitalize;
        }

        &.capitalize {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    ul.social-buttons-group {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        list-style: none;
        padding: 0px;
        margin: 0px;
        width: 100px;
        height: 100%;
        border-left: 1px solid #333333;

        li {
            height: 33.3330%;
            margin: 0px;
            border-bottom: 1px solid #333333;

            &:last-child {
                border-bottom: none;
            }

            a {
                display: table;
                height: 100%;
                width: 100%;
                text-align: center;

                i {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 45px;
                }
            }
        }
    }
}

iframe.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border: none;
    padding: 0px;
    margin: 0px;
    line-height: 0;
}

.container {
    margin: 0px auto;
    width: 700px;
    white-space: nowrap;

    &:after {
       content: "";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }

    & > * {
        white-space: normal;
    }
}

.small-container {
    margin: 0px auto;
    width: 500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ChunkFive";
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
}

h1 {
    color: #fcbe11;
    font-weight: 900;
    font-size: 68px;
    text-transform: uppercase;

    &.post-title {
        font-size: 32px;
        color: #525252;
    }
}

h2 {
    color: #fcbe11;
    font-size: 48px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8;

    &.underline, .underline {
        text-decoration: underline;
    }

    &.light, .light {
        font-weight: 300;
    }

    &.info {
        color: #002A3D;
        background: #b3e4ff;
        padding: 14px;
        border-radius: 3px;
        line-height: 1.6;
        -webkit-print-color-adjust: exact;
    }

    &.error {
        color: #ffffff;
        background-color: #d24747;
        padding: 8px 15px;
        font-size: 14px !important;
        -webkit-print-color-adjust: exact;

        i {
            margin-right: 15px;
        }
    }
}

a, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    &.bold, .bold, b {
        font-weight: bold !important;
    }

    &.light, .light {
        font-weight: 300 !important;
    }

    &.normal, .normal{
        font-weight: normal !important;
    }
}

.capitalize {
    text-transform: uppercase;
}

img {
    max-width: 100%;

    &.circle {
        border-radius: 50%;
    }

    &.outline{
        border: 3px solid #ffffff;
        box-shadow: 2px 2px 25px #555555;
    }
}

blockquote {
    position: relative;
    padding: 20px 40px 5px 40px;
    margin: 0px;

    &:before {
        font-family: 'FontAwesome';
        position: absolute;
        top: 20px;
        left: 0;
        font-size: 30px;
        content: '\f10d';
    }
}


ul {
    margin-top: 0px;
    margin-bottom: 25px;

    li {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 1.8;
    }
}

.page-break-before {
    page-break-before: always;
}

.box {
    background-color: #f6f6f6;
    padding: 14px;
    margin-bottom: 25px;
    border-radius: 3px;
    line-height: 1.6;
    -webkit-print-color-adjust: exact;
}



#payment-form {
    margin: 0px auto;

    .exp-month-group, .exp-year-group, .cvc-group {
        display: inline-block;
        margin-bottom: 20px;
    }

    .exp-month-group {
        width: 50%;
        margin-right: 3%;
    }

    .exp-year-group {
        width: 23%;
        margin-right: 3%;
    }

    .cvc-group {
        width: 21%;
    }

    button {
        width: 100%;
        display: block;
    }
}

#paypal-form {
    text-align: center;
}

input[type=text], select, textarea {
    padding: 13px 24px;
    border-radius: 0px;
    background-color: #ffffff;
    border: 1px solid rgb(166, 166, 166);

    &.block {
        display: block;
        width: 100%;
    }
}

.select_wrapper {
    position: relative;

    &:before {
        content: "\f0d7";
        font-family: FontAwesome;
        font-size: 20px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        padding-top: 10px;
        pointer-events: none;
    }

    &.block {
        display: block;
        width: 100%;
    }

    select {
        display: block;
        width: 100%;
        -webkit-appearance: none;
        padding-right: 48px;
    }
}

.gform_wrapper form {
    input[type=text], select, textarea {
        padding: 13px 24px !important;
        border-radius: 0px;
    }

    select {
        -webkit-appearance: none;
    }
}

.button, button {
    color: #000000;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 10px;
    padding: 14px 50px;
    border: 1px solid #494949;
    border-radius: 18px;
    font-size: 12px;
    text-shadow: 0px 0px 1px #888888;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-appearance:none;
    -webkit-print-color-adjust: exact;

    &:hover {
        color: #ffffff;
        background-color: #494949;
        border-color: #494949;
    }

    &.block {
        display: block;
        width: 100%;
        text-align: center;
    }

    &.small {
        font-size: 10px;
        padding: 10px 20px;
    }

    &.yellow {
        color: #4f4f4f;
        background-color: #fcbe11;
        border: none;

        &:hover {
            color: #ffffff;
            background-color: #4f4f4f;
        }
    }

    &.bright-yellow {
        background-color: #baae12;
        text-shadow: 0px 0px 2px #888888;

        &:hover {
            background-color: #aca111;
        }
    }

    &.pink {
        background-color: #f33660;

        &:hover {
            background-color: #de4a6a;
        }
    }

    &.circle-arrow {
        color: #000000;
        font-size: 20px;
        border: 1px solid #000000;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
    }
}

.jumbotron {
    width: 550px;

    h1 {
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 0px;
    }

    p {
        color: #5f5e59;
        font-size: 14px;
        font-weight: bold;
    }
}

.promo {
    width: 250px;
    margin-top: 75px;

    h3 {
        color: #ffffff;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 0px;

        & .large {
            font-size: 42px;
        }
    }

    p {
        color: #ffffff;
        font-size: 14px;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.anchor{
  display: block;
  height: 25px;
  margin-top: -50px;
  visibility: hidden;
}

.thumbnail-page-preview-bottom {
    border-bottom: 2px solid #4f4f4f;
    padding-bottom: 50px;
}

.thumbnail-page-preview {
    .image-wrapper {
        width: 100%;
        height: 175px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 35px;

    }

    .mobile-button {
        display: none;
    }

    h3 {
        margin-bottom: 0px;
    }

    &.blog-post, &.video-post, &.recipe-post {
        .image-wrapper {
            position: relative;

            &.no-overlay:after {
                content: none;
            }

            &:after {
                content: ' ';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100px;
                width: 130px;
                background-position: bottom right;
                background-repeat: no-repeat;
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
        }
    }

    &.blog-post .image-wrapper:after {
        background-image: url(assets/images/blog-thumbnail-overlay.png);
    }

    &.video-post .image-wrapper:after {
        background-image: url(assets/images/video-thumbnail-overlay.png);
    }

    &.recipe-post .image-wrapper:after {
        background-image: url(assets/images/recipe-thumbnail-overlay.png);
    }
}

.product-group-thumbnail {
    display: block;

    h3 {
        color: #4f4f4f;
    }
}

.products-previews-wrapper {
    overflow: hidden;
    text-align: center;
    position: relative;

    &:after {
        display: block;
        width: 100%;
        height: 500px;
        content: '';
    }

    .product {
        display: inline-block;
        text-align: center;
        width: 150px;
        vertical-align: bottom;
        margin: 0px 10px 30px;

        h4 {
            color: #4f4f4f;
            margin: 0;
            padding: 10px 0;
            height: 95px;
            font-weight: 300;
            font-family: "Open Sans", sans-serif;
            width: 90%;
            margin: 0 auto;
            font-size: 14px;
        }

        a {
            display: block;
        }

        &:hover {
            & > a {
                position: relative;

                &:after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    bottom: -95px;
                    left: 0;
                    right: 0;
                    width: 150px;
                    height: 95px;
                    z-index: 10000;
                    background-image: url(assets/images/arrow-shadow.png);
                    background-repeat: repeat-x;
                    background-position: top left;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                }
            }

            .promo-overlay {
                z-index: 1000;
            }
        }

        .thumbnail {
            width: 100%;
            height: 100%;
        }

        .promo-overlay {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 500px;
            background-color: #f6f6f6;
            text-align: left;
            vertical-align: top;

            .graphic {
                display: block;
                float: left;
                width: 60%;
                height: 500px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .info {
                width: 36%;
                display: inline-block;
                padding-top: 85px;
                padding-right: 4%;

                h3 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.gform_wrapper .gform_footer {
    text-align: center;
}

.gform_wrapper ul {
    margin: 0;
    padding: 0;
}

.gform_wrapper {
    text-align: center;
    line-height: 1;
    margin: 0;

    #gform_3.inline-form {
        display: inline-block;
        font-size: 0px;
        overflow: hidden;
        text-align: center;

        label {
            display: none;
        }

        .validation_error {
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: #ff5555;
            border: none;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
        }

        .gform_body {
            display: inline-block;
            width: auto;

            ul.gform_fields {
                display: inline-block;
                margin: 0;
                padding: 0;

                li.gfield {
                    display: inline-block;
                    border: none !important;
                    padding: 0 !important;
                    margin: 0 !important;

                    div.ginput_container {
                        display: inline-block;
                        padding: 0;
                        margin: 0;

                        input {
                            font-size: 14px;
                            color: #cccccc;
                            width: 250px;
                            padding: 12px 25px !important;
                            margin: 0;
                            background-color: #000000;
                            border: none;
                            line-height: normal;
                        }
                    }

                    div.gfield_description {
                        display: none;
                    }
                }
            }
        }

        .gform_footer {
            background-color: #fdb01c;
            position: relative;
            display: inline-block;
            width: 43px;
            height: 43px;
            padding: 0;
            margin: 0;
            border-radius: 0px 5px 5px 0px;

            &:before {
                font-size: 18px;
                color: #ffffff;
                content: "\f061";
                font-family: FontAwesome;
                text-align: center;
                line-height: 43px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
            }

            .button {
                font-size: 14px;
                width: 100%;
                height: 43px;
                border-radius: 0;
                padding: 0;
                margin: 0;
                border: none;
            }
        }
    }
}

.page-nav {
    a {
        color: #4f4f4f;
    }
}

#store-locator-map {
    .bh-sl-map-container {
        width: 100%;
        height: 500px;
        text-align: right;

        .bh-sl-loc-list {
            display: inline-block;
            width: 35%;
            height: 100%;
            overflow: scroll;

            ul.list {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: left;

                li {
                    width: 100%;
                    padding: 20px;

                    .list-label, .loc-web, .loc-phone, .loc-dist, .loc-directions {
                        display: none;
                    }
                }
            }
        }

        .bh-sl-map {
            display: inline-block;
            width: 64%;
            height: 100%;
        }
    }
}

#recipe-container {
    ul#blog-share-links {
        margin-bottom: 0;
        padding: 15px 0;
    }

    ul.recipe-meta {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;

        li {
            display: inline-block;
            padding: 7px 15px;
            border: 2px solid #fec701;
            border-right: none;
            float: left;

            span {
                margin-right: 12px;
            }

            &:last-child {
                border-right: 2px solid #fec701;
            }
        }
    }

    .full-container {
        height: 100vh;
        position: relative;

        .graphic {
            width: 50%;
        }

        .description {
            position: absolute;
            overflow-y: scroll;
            top: 0;
            right: 0;
            bottom: 0;
            width: 60%;
            padding: 50px 3% 30px 100px;
            background-image: url(assets/images/cut-out-paper-background.png);
            background-repeat: no-repeat;
            background-position: center left;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
}

.search-result {
    margin-bottom: 60px;

    .graphic {
        float: left;
        width: 350px;
        height: 200px;
        margin-right: 30px;
        background-repeat: no-repeat;
        background-position: center left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .description {
        h3 {
            margin-bottom: 0px;

            a {
                color: inherit;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}

#desktop-overlay,
#desktop-search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100009;
    background-color: rgba(255, 255, 255, .7);

    #exit-button {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 35px;
        margin: 0;
        padding: 10px 20px;
        color: inherit;
    }

    img {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 90%;
        max-height: 90%;
        transform: translate(-50%, -50%);
    }

    form {
        position: fixed;
        top: 40%;
        left: 50%;
        width: 400px;
        transform: translate(-50%, -50%);

        input {
            background-color: transparent;
            width: 100%;
            border: none;
            border-bottom: 1px solid #999999;
            padding: 8px 40px 8px 0px;;
            font-size: 18px;
        }

        button {
            color: inherit;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 0;
            margin: 0;
            border: none;
            font-size: 32px;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

form#find-store-by-zipcode {
    display: inline-block;
    font-size: 0px;
    padding: 0px;

    input[type="text"] {
        font-size: 14px;
        color: #cccccc;
        width: 250px;
        height: 43px;
        padding: 12px 25px !important;
        margin: 0;
        background-color: #000000;
        border: none;
        line-height: normal;
        display: inline-block;
        vertical-align: top;
    }

    button {
        background-color: #fdb01c;
        position: relative;
        display: inline-block;
        width: 43px;
        height: 43px;
        padding: 0;
        margin: 0;
        line-height: normal;
        border-radius: 0px 5px 5px 0px;
        vertical-align: top;

        &:before {
            font-size: 18px;
            color: #ffffff;
            content: "\f061";
            font-family: FontAwesome;
            text-align: center;
            line-height: 43px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
        }

        .button {
            font-size: 14px;
            width: 100%;
            height: 43px;
            border-radius: 0;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

.pagination-nav {
    a.button {
        margin: 0px 10px;
    }
}

ul#blog-share-links {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    li {
        display: inline-block;
        margin-right: 25px;

        a {
            color: #888888;
            font-size: 32px;
        }

        &#print-button {
            float: right;

            a {
                font-size: 12px;
                color: #4f4f4f;
                padding: 8px 16px;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}


@media only screen and (max-width : 750px) {
    #recipe-container {
        .full-container {
            height: auto;

            .graphic {
                display: block;
                width: 100%;
                height: 400px;
            }

            .description {
                display: block;
                position: static;
                width: 100%;
                background-image: none;
                background-color: #e0e0e0;
                padding: 30px 3% 80px;

                &:after {
                    display: block;
                    content: ' ';
                    position: absolute;
                    height: 100px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1000;
                    background-image: url(assets/images/torn-paper.png);
                    background-repeat: repeat-x;
                    background-position: bottom left;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                }
            }
        }
    }

    .products-previews-wrapper {
        border-top: 1px solid #999999;

        &:after {
            display: none;
        }

        .product {
            display: block;
            height: auto;
            width: auto;
            padding: 40px 3%;
            border-bottom: 1px solid #999999;

            &:hover a:after {
                content: none;
            }

            a {
                width: 41%;
                display: inline-block;
            }

            .promo-overlay {
                position: static;
                display: inline-block;
                width: 55%;
                height: auto;
                background-color: transparent;
                padding: 20px;

                .info {
                    display: block;
                    width: 100%;
                    padding: 0;
                }

                .graphic {
                    display: none;
                }
            }
        }
    }

    .product-group-thumbnail {
        margin-bottom: 45px;

        img {
            display: block;
            width: 80%;
            margin: 0px auto;
        }
    }
}

@media only screen and (max-width : 500px) {
    footer.section {
        .fluid-container {
            text-align: center;

            #site-logo {
                float: none;
                margin: 0px auto;
            }

            & > .fifth {
                display: block;
                width: 100%;
                float: none;
                margin-bottom: 20px;
            }
        }

        & > ul.social-buttons-group {
            top: auto;
            width: auto;
            height: 100px;
            bottom: 0;
            left: 0;
            right: 0;

            & > li {
                float: left;
                width: 33.3330%;
                height: 100%;
                border-top: 1px solid #333333;
            }
        }
    }
}

@media only screen and (max-width : 370px) {
    .gform_wrapper {
        #gform_3.inline-form {
            .gform_body {
                width: 75%;
                ul.gform_fields {
                    li.gfield {
                        div.ginput_container {
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 230px) {
    .gform_wrapper {
        #gform_3.inline-form {
            .gform_body {
                width: 60%;
                ul.gform_fields {
                    li.gfield {
                        div.ginput_container {
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

