header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    height: 100px;

    &.scroll-collapse {
        color: #ffffff;
        background-color: #87a9cb;
        height: 55px;

        #site-logo {
            background-image: url(assets/images/logo-white.png);
            height: 35px;
            width: 113px;
            margin-top: 10px;
        }

        .full > ul > li {
            margin-top: 17px;
            font-size: 12px;

            a {
                color: #ffffff;
            }

        }

        a.button {
            color: #ffffff;
            margin-top: 11px;
            border-color: #ffffff;

            i.fa {
                font-size: 16px;
            }

            span {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    .full > ul > li {
        & > ul.drop-down-items {
            background-color: #87a9cb;
            display: none;
            margin: 0;
            padding: 10px 0px;

            & > li {
                padding: 7px 20px;
                margin: 0;

                &:hover {
                    background-color: darken(#87a9cb, 10%);
                }

                & > a {
                    display: inline-block;
                }
            }
        }

        &:hover {
            position: relative;

            & > ul.drop-down-items {
                display: block;
                position: absolute;
                left: -20px;
                top: 100%;
                list-style: none;
                z-index: 10000;
                background-color: #87a9cb;

                li {
                    display: block;

                    a {
                        font-size: 14px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    a {
        color: #000000;
    }

    .button {
        margin-top: 30px;
        padding: 7px 25px;
        font-size: 12px;
        border-radius: 15px;

        i {
            font-size: 24px;
            margin-right: 10px;
        }

        span {
            line-height: 24px;
        }
    }

    .full > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;

        & > li {
            display: inline-block;
            text-transform: uppercase;
            margin: 35px 40px 0px 0px;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

#site-logo {
    display: block;
    float: left;
    height: 60px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    background-image: url(assets/images/logo-black.png);
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

