header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    height: 100px;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        background-image: url(assets/images/gradient-texture.png);
        background-repeat: repeat-x;
        background-position: top left;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        background-size: 100% auto;
        pointer-events: none;
    }

    &.scroll-collapse {
        color: #ffffff;
        background-color: #87a9cb;
        height: 55px;

        &:after {
            content: none;
        }

        .button:hover {
            color: #87a9cb;
            background-color: #ffffff;
            border-color: #87a9cb;
        }

        #site-logo {
            background-image: url(assets/images/logo-white.png);
            height: 35px;
            width: 100px;
            margin-top: 10px;
        }

        .full > ul > li {
            margin-top: 17px;
            font-size: 12px;

            a {
                color: #ffffff;
            }

        }

        a.button {
            color: #ffffff;
            margin-top: 11px;
            border-color: #ffffff;

            i.fa {
                font-size: 16px;
            }

            span {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    .fluid-container {
        max-width: 1300px;
        margin: 0px auto;
    }

    .full > ul > li {
        &.mobile-drawer {
            display: none;
        }

        & > ul.drop-down-items {
            background-color: #87a9cb;
            display: none;
            margin: 0;
            padding: 10px 0px;

            & > li {
                padding: 7px 15px;
                margin: 0;

                &:hover {
                    background-color: darken(#87a9cb, 10%);
                }

                & > a {
                    display: inline-block;
                }
            }
        }

        &:hover {
            position: relative;

            & > ul.drop-down-items {
                display: block;
                position: absolute;
                left: -20px;
                top: 100%;
                list-style: none;
                z-index: 10000;
                background-color: #87a9cb;

                li {
                    display: block;

                    a {
                        font-size: 14px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    a {
        color: #000000;
    }

    .button {
        margin-top: 30px;
        padding: 7px 25px;
        font-size: 12px;
        border-radius: 15px;

        i {
            font-size: 24px;
            margin-right: 10px;
        }

        span {
            line-height: 24px;
        }
    }

    .full > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;

        & > li {
            display: inline-block;
            text-transform: uppercase;
            margin: 35px 35px 0px 0px;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

#site-logo {
    display: block;
    float: left;
    height: 60px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    background-image: url(assets/images/logo-black.png);
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.mobile-nav-drawer {
    display: none;
}

@media only screen and (max-width : 950px) {
    header {
        &.scroll-collapse {
            .full > ul > li {
                display: none;

                &.mobile-drawer {
                    display: block;
                    font-size: 24px;
                    margin-top: 6px;
                }
            }
        }

        .full > ul > li {
            display: none;

            &.mobile-drawer {
                display: block;
                font-size: 24px;
                margin-top: 28px;
            }
        }

        .mobile-nav-drawer {
            position: fixed;
            display: block;
            right: 100%;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: #87a9cb;

            .search-section {
                border-bottom: 3px solid #6d8aaa;
                padding: 15px 30px;

                .input-container {
                    position: relative;
                    display: inline-block;
                    width: 80%;

                    button.fa {
                        color: #ffffff;
                        font-family: 'FontAwesome';
                        content: '\f002';
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        font-size: 24px;
                        padding: 11px 15px;
                        border: none;

                        &:hover {
                            background-color: transparent;
                        }
                    }

                    input {
                        position: relative;
                        color: #ffffff;
                        display: inline-block;
                        width: 100%;
                        padding: 13px 24px;
                        font-size: 18px;
                        background-color: lighten(#87a9cb, 10%);
                        border: none;
                    }
                }

                button {
                    color: darken(#6d8aaa, 10%);
                    float: right;
                    border-color: darken(#6d8aaa, 10%);

                    &:hover {
                        color: #87a9cb;
                        border-color: #87a9cb;
                        background-color: darken(#6d8aaa, 10%);
                    }
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    text-transform: uppercase;
                    width: 100%;
                    margin: 0;

                    a {
                        color: #ffffff;
                        display: block;
                        width: 100%;
                        padding: 13px 30px;
                        border-bottom: 2px solid #6d8aaa;

                        &:hover {
                            background-color: #6d8aaa;
                            border-bottom: 2px solid #87a9cb;
                        }
                    }

                    ul.drop-down-items {
                        background-color: #6d8aaa;

                        li a {
                            color: lighten(#87a9cb, 10%);
                            font-size: bold;
                            border-bottom: 2px solid #87a9cb;
                            padding: 13px 30px 13px 60px;

                            &:hover {
                                color: #ffffff;
                                background-color: #6d8aaa;
                            }
                        }
                    }
                }
            }
        }
    }
}
