.section {
    position: relative;
    padding: 80px 0px;

    h1, h2, h3, h4 {
        margin-bottom: 10px;
    }

    &.white {
        background-color: #ffffff;
    }

    &.dark-gray {
        background-color: #5e574f;
    }

    &.light-gray {
        background-color: #f6f6f6;
    }

    &.orange {
        color: #ffffff;
        background-color: #ffa800;

        h1, h2 {
            color: #ffffff;
        }
    }

    &.image, &.image-with-text, &.image-with-glow, &.image-with-popup, &.image-with-two-popups {
        position: relative;

        & > img {
            width: 100%;
            display: block;
        }
    }

    &.image-with-text {
        & > img {
            padding-bottom: 30px;
        }

        & > h2 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0px;
            text-align: center;
        }
    }

    &.image-with-glow {
        &:before {
            background-color: #ffffff;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 5px;
            border-radius: 50%;
            margin-top: -3px;
            box-shadow: 0px 0px 35px 75px rgba(255, 255, 255, 1);
            content: '';
        }

        & > .content {
            position: absolute;
            text-align: center;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1005;

            h1, h2, h3, h4, p {
                margin-bottom: 5px;
            }
        }
    }

    &.image-with-popup {
        & > .popup {
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 650px;
            background-color: rgba(41, 41, 41, .9);
            padding: 40px;
            text-align: center;
            transform: translate(-50%, -50%);
        }
    }

    &.image-with-two-popups {
        position: relative;

        & > .popup-left, & > .popup-right {
            color: #ffffff;
            width: 500px;
            position: absolute;
            top: 50%;
            background-color: rgba(41, 41, 41, .9);
            padding: 40px;
            text-align: center;
            transform: translate(0%, -50%);
            text-align: left;

            .gform_wrapper, .gform_wrapper #gform_3.inline-form {
                text-align: left;

                .validation_error {
                    text-align: left;
                }
            }
        }

        & > .popup-left {
            left: 3%;
        }

        & > .popup-right {
            right: 3%;
        }
    }

    &.post-image-section {
        height: 450px;
        overflow: hidden;
        background-repeat: none;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &.product-section {
        height: 350px;
        overflow: hidden;
        background-repeat: none;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .description a.fa {
            color: #000000;
            font-size: 20px;
            border: 1px solid #000000;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            text-align: center;
        }
    }

    &.parallax {
        position: relative;
        padding: 0;
        margin-top: -100px;

        & > .content {
            background-color: transparent;
            height: 95vh;
            padding-top: 100px;
            pointer-events: none;
        }

        & > .float {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 95%;
            background-position: top center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            z-index: -1;
        }
    }

    &.torn-paper:after {
        display: block;
        content: ' ';
        position: absolute;
        height: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-image: url(assets/images/torn-paper.png);
        background-repeat: repeat-x;
        background-position: bottom left;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }


    &.large {
        padding: 160px 0px;
    }

    &.small {
        padding: 60px 0px;
    }

    &.tiny {
        padding: 40px 0px;
    }

    &.micro {
        padding: 20px 0px;
    }

    &.no-padding {
        padding: 0px 0px;
    }

    &.micro-padding-top {
        padding-top: 20px;
    }

    .fluid-container {
        width: 100%;
        padding: 0px 3%;
    }

    .full-container {
        width: 100%;
    }

    .large-container {
        width: 1200px;
    }

    .container {
        width: 850px;
    }

    .small-container {
        width: 700px;
    }

    .fluid-container, .full-container, .large-container, .container, .small-container {
        overflow: hidden;

        & > * {
            vertical-align: top;
            display: inline-block;
            float: left;
            margin-right: 4%;

            &:last-child {
                margin-right: 0px;
            }
        }

        & > .full {
            width: 100%;
        }

        & > .half {
            width: 48%;
        }

        & > .two-thirds {
            width: 65.2%;
        }

        & > .third {
            width: 30.6%;
        }

        & > .fifth {
            width: 16.5%;
        }

        & > .description {
            width: 55%;
        }

        & > .graphic {
            width: 41%;
        }
    }
}

.group-wrapper {
    position: relative;

    & .on-top {
        position: absolute;
        top: 0;
        left: 0;
    }
}
