.section {
    position: relative;
    padding: 80px 0px;

    h1, h2, h3, h4 {
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    &.white {
        background-color: #ffffff;
    }

    &.dark-gray {
        background-color: #5e574f;
    }

    &.light-gray {
        background-color: #f6f6f6;
    }

    &.orange {
        color: #ffffff;
        background-color: #ffa800;

        h1, h2 {
            color: #ffffff;
        }
    }

    &.image, &.image-with-text, &.image-with-glow, &.image-with-popup, &.image-with-two-popups {
        position: relative;

        & > img {
            width: 100%;
            display: block;
        }
    }

    &.image-with-text {
        & > img {
            padding-bottom: 30px;
        }

        & > h2 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0px;
            text-align: center;
        }
    }

    &.image-with-glow {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400px;

        &:before {
            background-color: #ffffff;
            position: absolute;
            top: 50%;
            width: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 75px;
            border-radius: 50%;
            margin-top: -3px;
            box-shadow: 0px 0px 35px 75px rgba(255, 255, 255, 1);
            content: '';
        }

        & > .content {
            position: absolute;
            text-align: center;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1005;

            h1, h2, h3, h4, p {
                margin-bottom: 5px;
            }
        }
    }

    &.image-with-popup {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .popup {
            color: #ffffff;
            width: 650px;
            background-color: rgba(41, 41, 41, .9);
            padding: 40px;
            text-align: center;
            margin: 0px auto;
        }
    }

    &.image-with-two-popups {
        background-color: transparent;

        &.guy:before, &.guy:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        &.guy:after {
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            z-index: -1;
        }

        &.guy:before {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            z-index: -2;
        }

        .popup {
            display: inline-block;
            color: #ffffff;
            width: 500px;
            height: 175px;
            background-color: rgba(41, 41, 41, .9);
            padding: 40px;
            text-align: left;

            .gform_wrapper, .gform_wrapper #gform_3.inline-form {
                text-align: left;

                .validation_error {
                    text-align: left;
                }
            }
        }

        & > .popup-left {
            left: 3%;
        }

        & > .popup-right {
            right: 3%;
        }
    }

    &.post-image-section {
        height: 450px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &.product-section {
        height: 400px;
        overflow: hidden;
        background-repeat: none;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .description.left {
            margin-top: 40px;
            padding-left: 20%;
        }

        .description.right {
            margin-top: 50px;
            padding-right: 15%;
        }
    }

    &.product-details-section {
        background-color: #e0e0e0;

        h1 {
            color: #4f4f4f;
            font-size: 28px;
            text-transform: uppercase;
            margin-top: 20px;
        }
    }


    &.parallax {
        position: relative;
        padding: 0;
        margin-top: -100px;

        & > .content {
            background-color: transparent;
            height: 95vh;
            padding-top: 100px;
        }

        & > .float {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 95%;
            background-position: top center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            z-index: -1;
            pointer-events: none;

            &:after {
                content: ' ';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-image: url(assets/images/yellow-hero-gradient.png);
                background-position: bottom right;
                background-repeat: no-repeat;
                -webkit-background-size: auto 125%;
                -moz-background-size: auto 125%;
                -o-background-size: auto 125%;
                background-size: auto 125%;
            }
        }
    }

    &.torn-paper:after {
        display: block;
        content: ' ';
        position: absolute;
        height: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-image: url(assets/images/torn-paper.png);
        background-repeat: repeat-x;
        background-position: bottom left;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }


    &.large {
        padding: 160px 0px;
    }

    &.medium-large {
        padding: 120px 0px;
    }

    &.small {
        padding: 60px 0px;
    }

    &.tiny {
        padding: 40px 0px;
    }

    &.micro {
        padding: 20px 0px;
    }

    &.no-padding {
        padding: 0px 0px;
    }

    &.micro-padding-top {
        padding-top: 20px;
    }

    .fluid-container {
        width: 100%;
        padding: 0px 3%;
    }

    .full-container {
        width: 100%;
    }

    .large-container {
        width: 1200px;
    }

    .container {
        width: 900px;
    }

    .small-container {
        width: 700px;
    }

    .micro-container {
        width: 500px;
        margin: 0px auto;
    }

    .micro-container, .fluid-container, .full-container, .large-container, .container, .small-container {
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        & > * {
            vertical-align: top;
            display: inline-block;
            float: left;
            margin-right: 4%;

            &:last-child {
                margin-right: 0px;
            }
        }

        & > .two-thirds.light-gray {
            background-color: #f6f6f6;
            width: 69.2%;
            margin-right: 0;
            height: 100%;
        }

        & > .orange {
            color: #ffffff;
            background-color: #ffa800;
            height: 100%;

            h2 {
                font-size: 30px;
                color: #ffffff;
                text-transform: uppercase;
            }
        }

        & > .full {
            width: 100%;
        }

        & > .half {
            width: 48%;
        }

        & > .two-thirds {
            width: 65.2%;
        }

        & > .third {
            width: 30.6%;
        }

        & > .fifth {
            width: 16.5%;
        }

        & > .description {
            width: 55%;

            h1, h2, h3, p {
                margin-bottom: 10px;
                padding-bottom: 0px;
            }
        }

        & > .graphic {
            width: 41%;

            &.background {
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }
    }


    .container > .third.blog-side-bar {
        margin-right: 4%;

        #gform_4 {
            text-align: left;
            label {
                display: none;
            }

            #gform_fields_4 {
                input {
                    width: 220px;
                }
            }

            .gform_footer {
                text-align: left;

                input {
                    color: #4f4f4f;
                    background-color: #fcbe11;
                    border: none;

                    &:hover {
                        color: #ffffff;
                        background-color: #4f4f4f;
                    }
                }
            }
        }
    }

    .container > .two-thirds.blog-post {
        float: right;
        margin-right: 0;

        .recipe-snippet {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .recipe-meta {
            background-color: #363636;
            padding: 10px 20px;
            margin-bottom: 20px;

            p {
                color: #d0d0d0;
                margin-bottom: 0px;

                &.bold {
                    color: #ffffff;
                }
            }
        }
    }

}

.group-wrapper {
    position: relative;

    & .on-top {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.store-locator-header {
    .full-container {
        display: table-row;

        & > * {
            display: table-cell;
            height: 100%;
            float: none;
        }

        & > .third {
            width: 30.9%;
        }

        h1 {
            font-size: 48px;
        }

        p {
            margin-bottom: 10px;
        }

        #find-store-by-zipcode {
            display: block;

            input {
                color: #4f4f4f;
                background-color: #ffffff;
                border: 1px solid rgb(166, 166, 166);
                border-right: none;
            }

            button {
                border: none;
            }
        }
    }
}

@media only screen and (max-width : 1150px) {
    .section {
        .half .jumbotron {
            display: block;
            width: 100%;

            p { width: 100% !important; }
        }
    }

    .section.image-with-two-popups {
        .half {
            display: block;
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
            }

            .popup {
                margin: 0px auto;
            }
        }
    }

    .section.image-with-popup {
        .popup {
            width: 95%;
        }
    }
}

@media only screen and (max-width : 950px) {

    .section {
        & > .container {
            width: 95%;
        }
    }
}

@media only screen and (max-width : 800px) {
    .section {
        .container {
            & > .fifth {
                display: block;
                width: 100%;
                padding: 0px 20%;
                margin-bottom: 20px;

                &.text-right {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width : 750px) {
    h1 {
        font-size: 48px;
    }

    .section.store-locator-header {
        height: auto;

        .full-container {
            height: auto;

            & > .two-thirds {
                text-align: center;
            }

            & > .third, & > .two-thirds {
                display: block;
                width: 100%;
            }
        }
    }

    .section {
        & > .full-mobile {
            width: 100%;
        }

        &.torn-paper-break:after {
            display: none;
            content: '';
        }

        & > .small-container {
            width: 95%;
        }

        .container, .fluid-container {
            .graphic, .description {
                display: block;
                width: 100%;
            }

            .graphic {
                float: left;
            }
        }

        .full-mobile {
            width: 100%;

            .graphic {
                margin-bottom: 40px;
            }

            .description {
                width: 95%;
                margin: 0 auto;

                h3 {
                    margin-bottom: 10px;
                }
            }
        }

        .container > .third, .fluid-container > .third {
            width: 100%;
            display: block;

            .image-wrapper {
                height: 225px;
            }

            .thumbnail-page-preview {
                margin-bottom: 25px;

                .mobile-button {
                    display: block;
                }
            }

            &.thumbnail-page-preview-bottom {
                display: none;
            }
        }

        .container > .two-thirds.blog-post, .container > .third.blog-side-bar {
            width: 100%;
            display: block;
        }

        .container > .third.blog-side-bar {
            padding-top: 20px;
        }

        &.parallax {
            & > .float {
                height: 100%;

                &:after {
                    content: none;
                }
            }

            & > .content {
                position: relative;
                padding: 200px 0px 300px;
                height: auto;

                .promo {
                    background-color: #fcb210;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0px;
                    padding: 20px 3% 60px;
                    display: block;
                    width: 100%;
                    margin-top: 15px;
                    float: none;
                    padding-left: 300px;

                    img {
                        position: absolute;
                        left: -75px;
                        bottom: 0px;
                        height: 300px;
                        width: auto;
                        max-height: none;
                        max-width: 100%;
                    }
                }

                .jumbotron {
                    display: block;
                    width: 100%;
                    margin-top: 15px;

                }
            }
        }
    }
}

@media only screen and (max-width : 500px) {
    .section, .section.product-section {
        .micro-container {
            width: 94%;
            margin: 0px 3%;
        }

        .fluid-container, .full-container {
            .half {
                display: block;
                width: 100%;

                .jumbotron {
                    margin-top: 30px;
                    padding: 0px 3%;
                }

                .bg {
                    padding: 0px 40px;
                }
            }
        }

        .container {
            & > .fifth {
                display: block;
                width: 100%;
                padding: 0;
            }
        }
    }

    .section {
        &.parallax {
            & > .content {
                .promo {
                    padding-left: 50%;

                    img {
                        position: absolute;
                        left: -75px;
                        bottom: 0px;
                        height: auto;
                        width: auto;
                        max-width: 70%;
                    }

                    h3 {
                        color: #ffffff;
                        font-size: 28px;
                        line-height: 1;
                        margin-bottom: 0px;

                        & .large {
                            font-size: 34px;
                        }
                    }

                    p {
                        color: #ffffff;
                        font-size: 12px;
                        margin-bottom: 10px;
                    }

                    a {
                        font-size: 10px;
                        padding: 14px 25px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 500px) {
    .section.product-section {
        overflow: auto;
        height: auto;
    }

    footer.section {
        padding-bottom: 120px !important;
    }

    .section.image-with-two-popups, .section.image-with-popup {
        .popup {
            width: 100%;
            padding: 40px 20px;
        }
    }
}
